* {
    outline: 1px solid red;
}

h1 {
    background-color: lightskyblue;
}

ul {
    background-color: blueviolet;
}

li {
    padding: 8px;
    background-color: lightskyblue;
}

a {
    background-color: white;
}